body {
    font-family: "Courier New", sans-serif;

}

.body-home {
    background-image:url("../images/bg-01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #9954b6;
}

.body-flavours {
    background-image:url("../images/bg-01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #9954b6;
}

.body-contact {
    background-image:url("../images/bg-01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #9954b6;
}

.bg-custom {
    
    background-color: rgba(215, 164, 193, 0.5);
}

.card {

    background-color: rgba(215, 164, 193, 0.5);
}

.tagline {
    background-color: rgba(215, 164, 193, 0.5);
    align-content: space-around;
}

.customnavlink:active {

        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(227, 0, 248, 1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(227, 0, 248, 1);

}


/* Contact form stuff */
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form h3{
    text-align: center;
    color: #e300f8;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #e300f8;
    border: none;
    cursor: pointer;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(227, 0, 248, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(227, 0, 248, 1);
  }


  /* Animation up/down */

  @keyframes floatinganim {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
  }
  /* Animation rotate left/right */

  @keyframes rotateanim {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(20deg);
	}
  }

    /* Animation class */

.logoanim {
    animation: floatinganim 6s ease-in-out infinite;
}

.flavouranim {
    animation: rotateanim 6s ease-in-out infinite;
}


