@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');
/* Colors

#57eeab - green
#F4F4F5- pink apply box 

#fffd8c - yellow

#ff8480 - red

#f7f7ff - white

#333131 - black
Mobile view size 375max



width: calc(100% - 40px);
- use to calculate full width minus left+right margin+paddings
*/


html,
body {
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  color: #333131;
  background-color: #F4F4F5;
  z-index:0;
}

.header img {
  width: 115px;
  height: auto;
  
}

.landingmain {
  display: block;
  margin: 0px 10px 0px 10px;
}

.landingmain h1 {
  font-size: 60px;
  padding: 10px;
  margin: 0px 10px 0px 10px;
}  

.landingmain h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px 10px 0px 10px;
}




/* Used for the Apply Box */
.applybox {
  width: calc(100% - 70px);
  border: none;
  margin: 0px 35px 0px 35px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
}

.applybox a:link {
  color: #ff8480;
  text-decoration: none;
}

.applybox a:visited {
  color: #ff8480;
  text-decoration: none;
}

.applybox a:hover {
  color: #ff8480;
  text-decoration: none;
}

.applybox .applytext {
  margin: 20px;

  padding: 10px;
  border: none;

  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 10px;

}

.applybox .hidetext{
  display: none;
}

.applybox h1 { 
  font-size:  40px;
  padding-left: 25px;
}

.applybox h2 { 
  font-size:  16px;
  font-weight: normal;
  padding-left: 25px;
}

.applybox .inputclass {
  /*background-color: #F4F4F5;*/
  background-color: #33F433;
  margin: 5px 25px 5px 25px;
  padding: 10px 5px 10px 5px;
  border: none;
  border-radius: 10px;
  width: calc(100% - 60px);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.applybox .inputcheckbox {
   /*background-color: #F4F4F5;*/
   background-color: #33F433;
   margin: 5px 25px 5px 25px;
   padding: 10px 5px 10px 5px;
   border: none;
   border-radius: 10px;
   width: calc(100% - 60px);
   font-family: "Montserrat", sans-serif;
   font-size: 16px; 
}

.applybox .drivebutton {
  font-size:  24px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  background-color: #57eeab;
  margin: 25px;
  padding: 10px;

  width: calc(100% - 70px);
}

.footer {
  background-color: #fffd8c;
  padding: 25px;
}

.footer h1 {
  font-size: 24px;
  font-weight: bold;

}

.calculatebutton {
  font-size:  24px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: #ff8480;
  margin: 15px;
  padding: 10px;
}




.row {
  flex-direction: column;
}

.column {
  display: block;
}

/* Show backgroundimage mobile, hide desktop version */
.columnbgimagedesktop {
  display: none;
}
.columnbgimagemobile {
  display: block;
}




/* Tablet */
@media screen and (min-width: 639px) {
}

/* Desktop */
@media screen and (min-width: 1025px) {

/* On screens that are 600px wide or more, make the columns next to each other instead of side by side*/
/* Container for flexboxes */
.row {
  flex-direction: unset;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.landingmain {
  float: left;
  width: 530px;
  margin: 0px 10px 0px 0px;
}


/* Hide backgroundimage mobile, Show desktop version */
.columnbgimagedesktop {
  float: left;
  display: block;
  position: fixed;
}
.columnbgimagemobile {
  display: none;
}


  .applybox {
    float: right;
    width: 530px;
    margin: 0px 0px 0px 10px;
    border: none;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  }
}