@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');
/* Colors

#57eeab - green
#F4F4F5- pink apply box 

#fffd8c - yellow

#ff8480 - red

#f7f7ff - white

#333131 - black
*/

html,
body {
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  color: #333131;
  background-color: #F4F4F5;
}

.header img {
  width: 115px;
  height: auto;

  margin: 25px;
}

.landingmain {
  display: block;
  margin: 25px;
}

.landingmain h1 {
  font-size: 60px;
  padding: 10px;
}  

.landingmain h2 {
  font-size: 24px;
  font-weight: normal;
}

.applybox {
  display: block;
  
  border: none;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
}

.applybox a:link {
  color: #ff8480;
  text-decoration: none;
}

.applybox a:visited {
  color: #ff8480;
  text-decoration: none;
}

.applybox a:hover {
  color: #ff8480;
  text-decoration: none;
}

.applybox .applytext {
  margin: 10px;
}

.applybox .hidetext{
  display: none;
}

.applybox h1 { 
  font-size:  40px;
  padding-left: 25px;
}

.applybox h2 { 
  font-size:  16px;
  font-weight: normal;
  padding-left: 25px;
}

.applybox input {
  background-color: #F4F4F5;
  padding: 10px;
  border: none;
  margin: 5px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 82%;
  display: block;
}

.applybox input .checkbox {
  padding: 10px;
  margin: 5px;
}

.applybox .drivebutton {
  font-size:  24px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  background-color: #57eeab;
  margin: 15px;
  padding: 10px;
}

.footer {
  background-color: #fffd8c;
  padding: 25px;
}

.footer h1 {
  font-size: 24px;
  font-weight: bold;

}

.calculatebutton {
  font-size:  24px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: #ff8480;
  margin: 15px;
  padding: 10px;
}

/* desktop */
@media (min-width: 960px) {
  .header img {
    width: 115px;
    height: auto;
  
    margin: 25px;
  }
}


