
    background-color:grey;
    color: 808080;
    font-family: 'Courier New', Courier, Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 960px;
    background:indianred;
    padding: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;



}


h1,h2,h3,h4 {
    font-family: 'Times New Roman', Times, serif;
    border-left: 3px indianred;
    padding: 20px;
}
